extends ../layout 

block content
    section#nuevoUsuario.page-section
        .container-fluid.bg-white
            .row
                .col-md-6.bg-forgotpassword
                .col-md-6.padding-70
                    .row
                        .col-md-9.margin-auto
                            if info && info.message
                                .alert.alert-danger.font-montserrat
                                    = info.message
                            h4.section-heading.text-uppercase.margin-bottom ¿OLVIDASTE TU CONTRASEÑA?
                            p.font-montserrat Ingresá tu email y te enviaremos un enlace mágico para recuperarla:
                            form#nuevoUsuarioForm(action='/forgotpassword' method='post')
                                .row.align-items-stretch
                                    .col-md-12
                                        .form-group
                                            input.form-control(type='text' placeholder='Email *' name='email')
                                .text-center
                                    #success
                                    button.btn.btn-primary.btn-xl.text-uppercase(type='submit') ENVIAR
                
                