extends ../layout 

block content
    section#nuevoUsuario.page-section
        .container-fluid.bg-white
            .row
                .col-md-6.bg-emailsent
                .col-md-6.padding-70
                    .row
                        .col-md-9.margin-auto
                            if info && info.message
                                .alert.alert-danger.font-montserrat
                                    = info.message
                            h4.section-heading.text-uppercase.margin-bottom ÉXITO!
                            p.font-montserrat Revisá tu email y hace clic en nuestro enlace mágico para reestablecer tu contraseña
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                
                