extends ../layout 

block content
    section#nuevoUsuario.page-section
        .container-fluid.bg-white
            .row
                .col-md-6.padding-70
                    .row
                        .col-md-9.margin-auto
                            if info && info.message
                                .alert.alert-danger.font-montserrat
                                    = info.message
                            h4.section-heading.text-uppercase.margin-bottom BIENVENIDX DE VUELTA!
                            p.font-montserrat Ingresá tu email y contraseña:
                            form#nuevoUsuarioForm(action='/login' method='post')
                                .row.align-items-stretch
                                    .col-md-12
                                        .form-group
                                            input.form-control(type='email' placeholder='Email *' name='username')
                                        .form-group
                                            input.form-control(type='password' placeholder='Contraseña *' name='password')
                                        .form-group.text-center
                                            a.font-montserrat(href="/forgotpassword") ¿Olvidaste tu contraseña?
                                        .form-group.text-center
                                            a.font-montserrat.btn.btn-azul(href="/auth/google") Login con Google
                                .text-center
                                    #success
                                    button.btn.btn-primary.btn-xl.text-uppercase(type='submit') LOG IN
                .col-md-6.bg-pattern
                
