extends ../layout 

block content
    section#bici.page-section
        .container
            .text-center
                h2.section-heading.text-uppercase USUARIOS
                h3.section-subheading.text-muted Conocé los usuarios de la comunidad Red de Bicis:
            table.table
                thead
                    tr
                        th(scope='col') #
                        th(scope='col') Nombre
                        th(scope='col') Email
                        th(scope='col') Verificado
                        th(scope='col' colspan=2) Acciones
                tbody
                    each usuario in usuarios
                        tr
                            th(scope='row')
                                = usuario.id
                            td= usuario.nombre
                            td= usuario.email
                            td= usuario.verification
                            td
                                a.btn.btn-color.btn-social.mx-2(href='/usuarios/' + usuario.id + '/update')
                                    i.fas.fa-edit
                            td
                                form.inline(method='post' action='/usuarios/' + usuario.id + '/delete')
                                    input(type='hidden' name='id' value=usuario.id)
                                    button.btn.btn-color.btn-social.mx-2(type='submit' name='submit_param' value='submit_value' class='btn btn-primary')
                                        i.fas.fa-trash
            .text-center
                a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='/usuarios/create') Crear Usuario