extends ../layout 

block content
    section#bici.page-section
        .container
            .text-center
                h2.section-heading.text-uppercase BICIS
                h3.section-subheading.text-muted Conocé las bicicletas de Red de Bicis:
            table.table
                thead
                    tr
                        th(scope='col') #
                        th(scope='col') Color
                        th(scope='col') Modelo
                        th(scope='col') Ubicacion
                        th(scope='col' colspan=2) Acciones
                tbody
                    each bici in bicicletas
                        tr
                            th(scope='row')
                                = bici.id
                            td= bici.color
                            td= bici.modelo
                            td= bici.ubicacion
                            td
                                a.btn.btn-color.btn-social.mx-2(href='/bicicletas/' + bici.id + '/update')
                                    i.fas.fa-edit
                            td
                                form.inline(method='post' action='/bicicletas/' + bici.id + '/delete')
                                    input(type='hidden' name='id' value=bici.id)
                                    button.btn.btn-color.btn-social.mx-2(type='submit' name='submit_param' value='submit_value' class='btn btn-primary')
                                        i.fas.fa-trash
            .text-center
                a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='/bicicletas/create') Nueva Bici